# Python
*.egg-info/
*.test.json
.*_cache
.coverage
.mypy_cache/
.pytest_cache/
.venv/
__pycache__/
dist/

# Nix
result/

# Testing
.env
test/
virby-vm-benchmark-*.md
benchmark-results/

# Misc
*.bak
*.bck
.direnv/
.DS_Store
.zed/
.rules
